<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Confirm Your Account</title>
  </head>

  <body>
    <h1>
      Thanks for register, confirm your account
    </h1>
    <div class="btn-bg">
      <a class="btn" href="https://www.w3schools.com"> Confirm </a>
    </div>
  </body>
  <style>
    body { font-family: verdana; display: flex; justify-content: center;
    align-items: center; flex-direction: column; } h1 { font-size: 24px; }
    .btn-bg { background-color: blue; width: 200px; height: 100px;
    border-radius: 10px; opacity: 50%; display: flex; justify-content: center;
    align-items: center; } .btn { font-size: 33px; color: white; cursor:
    pointer; border: none; text-decoration: none; } .btn:hover { color: orange }
  </style>

</html>